*{
	margin: 0;
	padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Bungee Shade', cursive;
}

body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(songs/bg.jpg);
	height: 100vh;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Hide scrollbar*/
body::-webkit-scrollbar {
    display: none;
}

audio {
    width: 98%;
    filter: invert(80%) ;
    outline: none;
    max-width: 750px;
}

.text-center {
    font-family: 'Bungee Inline', cursive;
    font-size: 90%;
}

button {
    margin-right: 5px;
}

.btn:focus,.btn:active {    
    outline: none !important;
    box-shadow: none;
}

h1 {
    padding-right: 20px;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

audio {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

audio::-webkit-media-controls {
    overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto;
}